<!DOCTYPE html>

<html lang="en">

<head>

<title>OJJDP Data Dashboard</title>

<!--import script files needed from plotly and bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>

    <!--navbar links-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
       <a class="navbar-brand" href="#">OJJDP Dashboard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false"
      aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/foskyblue/usa_criminal_record_ojjdp">Github repository</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.ojjdp.gov/ojstatbb/crime/ucr.asp?table_in=2">OJJDPData</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Blog post</a>
          </li>
        </ul>
      </div>
    </nav>

    <!--middle section-->
    <div class="row">

        <!--social media buttons column-->
        <div class="col-1 border-right">
            <div id="follow-me" class="mt-3">
                <a href="https://www.linkedin.com/in/ufuoma-ubor-3a872916a/">
                    <img src="../static/img/linkedinlogo.png" alt="linkedin" class="img-fluid mb-4 ml-2">
                </a>
                <a href="https://github.com/foskyblue">
                    <img src="../static/img/githublogo.png" alt="github" class="img-fluid ml-2">
                </a>
            </div>
        </div>

        <!--visualizations column-->
        <div class="col-11">

            <!--chart descriptions-->
            <div id="middle-info" class="mt-3">

                <h2 id="tag-line">OJJDP Data Dashboard</h2>
                <h4 id="tag-line2" class="text-muted">1980-2019 United States Criminal Records</h4>

            </div>

            <div id="select" class="container mt-5">

                <!--top two charts-->
                <div class="row">
<!--                    Drop down list here-->
                    <form method="POST" action="/index">
                        <div class="col-12">

                            <div class="dropdown">
                                Year:
                                <select id="year" name="year" class="form-select form-select-sm" aria-label=".form-select-sm example">
                                  <option selected>select year</option>
                                  <option value="2019">2019</option>
                                  <option value="2018">2018</option>
                                  <option value="2016">2016</option>
                                  <option value="2015">2015</option>
                                  <option value="2014">2014</option>
                                  <option value="2013">2013</option>
                                  <option value="2012">2012</option>
                                  <option value="2011">2011</option>
                                  <option value="2010">2010</option>
                                  <option value="2009">2009</option>
                                  <option value="2008">2008</option>
                                  <option value="2007">2007</option>
                                  <option value="2006">2006</option>
                                  <option value="2005">2005</option>
                                  <option value="2004">2004</option>
                                  <option value="2003">2003</option>
                                  <option value="2002">2002</option>
                                  <option value="2001">2001</option>
                                  <option value="2000">2000</option>
                                  <option value="1999">1999</option>
                                  <option value="1998">1998</option>
                                  <option value="1997">1997</option>
                                  <option value="1996">1996</option>
                                  <option value="1995">1995</option>
                                  <option value="1994">1994</option>
                                  <option value="1993">1993</option>
                                  <option value="1992">1992</option>
                                  <option value="1991">1991</option>
                                  <option value="1990">1990</option>
                                  <option value="1989">1989</option>
                                  <option value="1988">1988</option>
                                  <option value="1987">1987</option>
                                  <option value="1986">1986</option>
                                  <option value="1985">1985</option>
                                  <option value="1984">1984</option>
                                  <option value="1983">1983</option>
                                  <option value="1982">1982</option>
                                  <option value="1981">1981</option>
                                  <option value="1980">1980</option>
                                </select>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                Offense:
                                <select id="offense" name="offense" class="form-select form-select-sm" aria-label=".form-select-sm example">
                                    <option selected>select offense</option>
                                    <option value="All offenses">All offenses</option>
                                    <option value="Murder and nonnegligent manslaughter">Murder and nonnegligent manslaughter</option>
                                    <option value="Forcible rape">Forcible rape</option>
                                    <option value="Robbery">Robbery</option>
                                    <option value="Aggravated assault">Aggravated assault</option>
                                    <option value="Burglary">Burglary</option>
                                    <option value="Larceny-theft">Larceny-theft</option>
                                    <option value="Motor vehicle theft">Motor vehicle theft</option>
                                    <option value="Arson">Arson</option>
                                    <option value="Simple assault">Simple assault</option>
                                    <option value="Forgery and counterfeiting">Forgery and counterfeiting</option>
                                    <option value="Fraud">Fraud</option>
                                    <option value="Embezzlement">Embezzlement</option>
                                    <option value="Stolen property (buying, receiving, possessing)">Stolen property (buying, receiving, possessing)</option>
                                    <option value="Vandalism">Vandalism</option>
                                    <option value="Weapons (carrying, possessing, etc.)">Weapons (carrying, possessing, etc.)</option>
                                    <option value="Prostitution and commercialized vice">Prostitution and commercialized vice</option>
                                    <option value="Sex offense (except forcible rape and prostitution)">Sex offense (except forcible rape and prostitution</option>
                                    <option value="Drug abuse violations">Drug abuse violations</option>
                                    <option value="Gambling">Gambling</option>
                                    <option value="Offenses against the family and children">Offenses against the family and children</option>
                                    <option value="Driving under the influence">Driving under the influence</option>
                                    <option value="Liquor laws">Liquor laws</option>
                                    <option value="Drunkenness">Drunkenness</option>
                                    <option value="Disorderly conduct">Disorderly conduct</option>
                                    <option value="Vagrancy">Vagrancy</option>
                                    <option value="All other offenses (except traffic)">All other offenses (except traffic)</option>
                                    <option value="Curfew and loitering">Curfew and loitering</option>
                                    <option value="Violent Crime Index">Violent Crime Index</option>
                                    <option value="Property Crime Index">Property Crime Index</option>
                                    <option value="Violent crimes* 	">Violent crimes* 	</option>
                                </select>
                                &nbsp;
                                <button>Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!--charts-->
            <div id="charts" class="container mt-5">

                <!--top two charts-->
                <div class="row">
                    <div class="col-4 bg-light">
                        <b>Violent Crime Index</b> includes murder and nonnegligent manslaughter, forcible rape, robbery,
                        and aggravated assault. <br><br>
                        <b>Property Crime Index</b> includes, burglary, larceny-theft, motor vehicle theft, and arson.
                        <br><br>
                        NA: Beginning in 2013, the FBI broadened the definition of rape, removing the phrase "forcible"
                        from the offense name and description. The new definition of rape is: Penetration, no matter
                        how slight, of the vagina or anus with any body part or object, or oral penetration by a sex
                        organ of another person, without the consent of the victim. The new definition includes the
                        NIBRS offenses of rape, sodomy, and sexual assault with an object. <br><br>
                        Law enforcement agencies may submit data on rape arrests based on either the new or legacy
                        definition of rape. Due to differences in agency reporting practices, national estimates for
                        the offenses of "rape" and "sex offenses" are not available after 2012. Additionally, estimates
                        for the Violent Crime Index (which included "forcible rape") are not shown after 2012 as this
                        category is no longer compatible with prior years. <br><br>
                        * The "violent crimes" category includes the offenses of murder, robbery, and aggravated assault
                        and is presented as an alternative to the Violent Crime Index, which is not available as a
                        result of the change to the definition of rape in 2013. In any given year prior to the change
                        in the rape definition, these three offenses accounted for more than 95% of arrests for Violent
                        Crime Index offenses.
                    </div>
                    <div class="col-8 bg-light text-white">
                        <div id="{{ids[1]}}"></div>
                        <div class="row mt-2">
                            <div class="col-6">
                                <div id="{{ids[0]}}"></div>
                            </div>
                            <div class="col-6">
                                <div id="{{ids[2]}}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--footer section-->
    <div id="footer" class="container"></div>

    <footer>

        <script>
            // plots the figure with id
            // id much match the div id above in the html
            var figures = {{figuresJSON | safe}};
            var ids = {{ids | safe}};
            for(var i in figures) {
                Plotly.plot(ids[i],
                    figures[i].data,
                    figures[i].layout || {});
            }
        </script>

    </footer>

</body>
</html>
